@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary: #00003b;
  --secondary: #f5d20b;
  --third: #03037b;
  --text-white: #fff;
  --text-secondary: #c0c0c0;
}
nav .nav-container {
  position: absolute;
  background-color: var(--third);
  display: flex;
  padding: 25px 95px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.329);
  border-bottom: solid 2px black;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-links .nav-list {
  display: flex;
  font-size: 3vmin;
  gap: 1rem;
}

.nav-list .list-items {
  justify-content: center;
}
.nav-list .list-items a {
  color: var(--text-white);
  text-transform: capitalize;
}
.nav-list .list-items a:hover,
.nav-list .list-items a.active {
  color: var(--secondary);
}
.nav-list .list-items a:hover::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: var(--secondary);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.active-li::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: var(--secondary);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.nav-list .list-items {
  padding: 0 20px;
  position: relative;
}

nav .nav-links {
  justify-content: center;
  align-items: center;
  margin: auto;
}
.logo .logo-item {
  color: var(--text-white);
  font-size: 4vmin;
}

.logo .log-name {
  color: var(--secondary);
}
.list-btn {
  display: none;
}
.btn .btn-login {
  background: var(--third);
  padding: 8px;
  color: var(--text-white);

  font-size: 3vmin;
  border: solid 2px var(--secondary);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  margin-right: 5px;
}
.btn {
  padding-top: 5px;
}

.btn .btn-signup {
  background: #d9d9d9;
  padding: 8px;
  color: var(--primary);
  font-size: 3vmin;
  border-radius: 10px;
  border: 2px solid var(--primary);
  transition: 0.3s ease-in-out;
  margin-left: 5px;
}
.btn .btn-signup:hover {
  background-color: transparent;
  color: var(--text-white);
}
.btn .btn-login:hover {
  background-color: var(--primary);
  color: var(--text-white);
  border: var(--text-secondary) solid 2px;
}
nav .mobile-menu {
  color: white;
  font-size: 40px;
  cursor: pointer;
  display: none;
}

/*========Home section===============*/

#particles-js {
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
}

.home-content {
  color: var(--text-white);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 0px;
  top: 40%;
}
.home-content h1 {
  font-size: 7vmin;
  margin-bottom: 20px;
  line-height: 29px;
  padding-bottom: 10px;
}
.home-content h5 {
  font-size: 3vmin;
  color: var(--secondary);
  margin-bottom: 20px;
}
.home-content p {
  font-size: 3vmin;

  /* padding: 0rem 36rem; */

  color: #c0c0c0;
  padding-bottom: 50px;
}
.home-content .btn-contact {
  background: var(--third);
  padding: 8px;
  color: var(--text-white);

  font-size: 3vmin;
  border: solid 2px var(--secondary);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  margin-right: 10px;
}
.home-content .btn-resume {
  background:transparent;
  padding: 8px;
  color: var(--text-white);
  font-size: 3vmin;
  border-radius: 10px;
  border: 2px solid var(--secondary);
  transition: 0.3s ease-in-out;
  margin-left: 10px;
}
.btn-resume:hover{
  background: var(--third);

}

/* About section */

.about-section {
  background: var(--third);
  width: 100%;

  padding: 40px 90px;
}

.about-section img {
  width: 90%;
  border: solid 2px var(--third);
  border-radius: 20px;
}
.about-section h2 {
  text-align: center;
  color: var(--text-white);
  font-size: 5vmin;
}
.title span {
  color: var(--secondary);
}
.about-section p {
  color: var(--text-secondary);
  font-size: 3vmin;
  padding-bottom: 30px;
  width: 100%;
}
.line {
  width: 150px;
  height: 4px;
  background: var(--secondary);
  margin: 10px auto;
  border-radius: 5px;
  margin-bottom: 30px;
}
.row {
  background: var(--primary);
  display: flex;
  align-items: center;
  width: 100%;
  height: 70vh;
  padding-left: 20px;

  /* padding: 80px 40px; */
  border-radius: 20px;
}
.col h3 {
  color: var(--secondary);
  font-size: 4vmin;
  padding-bottom: 20px;
}

.about-section .about-button {
  width: 100%;
}
.about-section .btn-github {
  background: var(--third);
  padding: 8px;
  color: var(--text-white);

  font-size: 3vmin;
  border: solid 2px var(--secondary);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  margin-right: 5px;
}
.about-section .btn-cv {
  background: var(--third);
  padding: 8px;
  color: var(--text-white);

  font-size: 3vmin;
  border: solid 2px var(--secondary);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  margin-right: 5px;
}

/* Skills page */

.all-skills {
  background: var(--primary);
}
.skills-section .title {
  text-align: center;
  color: var(--text-white);
  font-size: 4vmin;
}
.skills-section .title span {
  color: var(--secondary);
}
.skills-section .row-skill {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.icon-item .icon {
  color: var(--secondary);
  font-size: 10vmin;
  text-align: center;
  width: 100%;
}
.col-skill-one {
  background: var(--primary);
  width: 280px;
  height: 214px;
  background: #00003b;
  border: 4px solid #00003b;
  box-shadow: 0px 22px 40px #00008b;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
}
.col-skill-one:hover {
  transform: scale(1.1);
}

.skills-section h3 {
  color: var(--text-white);
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  padding: 10px 0;
}
.skills-section p {
  color: var(--text-secondary);
  text-align: center;
  width: 100%;
  font-size: 2vmin;
}

/* my Experince style */

.experience-section .row-exp {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  width: 100%;
  padding: 35px 23%;
}
.col-exp .contents {
  padding: 0px 30px;
  border-left: 2px solid var(--secondary);
}

.experience-section .title {
  color: var(--text-white);
  text-align: center;
}
.col-exp .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid var(--third);
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}
.col-exp .contents .box:hover {
  box-shadow: 0px 3px 12px 0px var(--third);
  border: 2px solid transparent;
}
.col-exp .contents .box::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: var(--secondary);
  border: 2px solid var(--third);
}

.experience-section h4 {
  color: var(--secondary);
  font-size: 2vmin;
  padding-bottom: 20px;
  width: 100%;
}
.experience-section h3 {
  color: var(--text-secondary);
  font-size: 3vmin;
  padding-bottom: 20px;
  width: 100%;
}
.experience-section p {
  color: var(--text-white);
  letter-spacing: 1px;
  font-weight: 50;
}

/* MY WORK STYLE */

.myWork-section {
  background: var(--third);
  height: 90vh;
  padding: 20px 80px;
}
.myWork-section .title {
  text-align: center;
  color: var(--text-white);
  font-size: 3vmin;
}
/* .row-slider{
  background: var(--primary);
  width: 100%;
  
} */
.content-row {
  position: relative;
  width: 100%;
  height: 500px;
  background: var(--primary);
  padding: 90px 15px;
  border-radius: 30px;
  overflow: hidden;
}

.col-slider .slide {
  display: flex;
}

.content-row .col-slider {
  display: flex;
}
.col-slider {
  height: 100%;
}
.slide {
  min-width: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
}
.slide h2 {
  color: var(--text-white);
  font-size: 5vmin;
  /* text-align: center; */
  padding: 50px 0px;
}
.slide p {
  color: var(--text-secondary);
  padding-bottom: 10px;
}

.btn-slider {
  width: 30%;

  text-align: center;

  background: var(--third);
  padding: 8px;
  color: var(--text-white);
  font-size: 2vmin;
  border: solid 2px var(--secondary);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide .paragraph {
  width: 100%;
}
#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 35px;
  border: none;
  color: var(--text-white);
  padding: 20px;
}
#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

/* contact me page */

.contact-section {
  background: var(--primary);
  width: 100%;
  padding: 20px 0px;
}

.contact-section .title h2 {
  color: var(--text-white);
  text-align: center;
  font-size: 6vmin;
  padding: 40px 0px;
  letter-spacing: 2px;
  line-height: 1px;
}

.contact-section .title p {
  color: var(--text-secondary);
  text-align: center;
  letter-spacing: 2px;
padding-bottom: 20px;
}

.content-box {
  /* display: flex;
 justify-content: center;
 align-items: center; */
  /* width: 80%; */
  padding: 50px 0px;

  margin: 10px auto;
  width: 40%;
  height: 80vh;

  background: #00003b;
  border: 2px solid var(--third);
  box-shadow: 0px 22px 44px #000000;
  border-radius: 8px;
}
.content-box h1{
  color: var(--text-secondary);
  text-align: center;
  font-size: 5vmin;
  margin-bottom: 20px;
}
.box {
  width: 100%;
  padding-left: 100px;
}
.box .inputBox {
  padding: 10px 0px;
  
}
.inputBox input {
  padding: 15px;
  width: 80%;
  font-size: 2vmin;
  border-radius: 50px;
  background: var(--third);
  outline: none;
  border: none;
}

.box .inputArea {
  padding: 15px;
  width: 80%;
  font-size: 2vmin;
  border-radius: 30px;
  background: var(--third);
  outline: none;
  height: 30vh;
  border: none;
}
.submit-btn button {
  padding: 10px;
  width: 40%;
  font-size: 3vmin;
  border-radius: 50px;
  background: var(--third);
  color: var(--text-white);
  border: none;
  border: 2px solid var(--secondary);
}
.form-contact {
  /* border-bottom: 2px solid var(--text-white); */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0px;
}

.link-social a {
  background: var(--third);
  padding: 10px 30px;
  font-size: 3vmin;
  color: var(--text-white);
  line-height: 20px;
  letter-spacing: 1px;
  border: 2px solid rgb(33, 32, 32);
  box-shadow: 0px 22px 40px black;
}
.content-social-1 {
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
}

.form-socials {
  padding: 80px 0px;
}
.content-social-2 {
  padding-bottom: 50px;
}

/* footer container */

.footer-container {
  width: 100%;
  height: 120px;
  

  background: #00003b;
  /* border: 1px solid #000000; */
  box-shadow: inset 0px 22px 44px rgba(0, 0, 0, 0.5);
}
.content-media-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  

  border-bottom: 2px solid var(--text-white);
}
.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}
.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}
.link-social .icons-social {
  font-size: 3vmin;
  color: var(--secondary);
  
}
.subscribe-input {
  display: flex;
  background: var(--third);
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0px 22px 40px black;
}
.subscribe-input input {
  font-size: 2vmin;

  background: var(--third);
  outline: none;
  border: none;
}
.subscribe-input button {
  font-size: 2vmin;
  padding: 10px 20px;
  border-radius: 50px;
  background: var(--third);
  border: none;
  font-size: 2vmin;
  font-weight: bold;
  border: 10px;
  background: var(--secondary);
  cursor: pointer;
  transition: 0.3s;
}

.icon-footer .iconic {
  font-size: 4vmin;
  color: var(--text-white);
  padding: 10px 8px;
  
}

.icon-footer p {
  color: var(--text-white);
  font-size: 3vmin;
  text-align: center;
  
}
.content-media-2 p{
  padding: 10px 0px;
}

/* 
Mobile device */

@media (max-width: 1170px) {
  /* nav bar */
  html {
    font-size: 50%;
  }

  nav .nav-container {
    padding: 2rem 2rem;
  }
  .nav-links .nav-list {
    gap: 0;
    font-size: 18px;
  }
  .logo .logo-item {
    font-size: 20px;
  }
  .btn .btn-login {
    padding: 6px;
    font-size: 15px;
  }
  .btn .btn-signup {
    padding: 6px;
    font-size: 15px;
  }

  /* Home section */

  .about-section p {
    font-size: 2vmin;
  }
  .about-section img {
    max-width: 90%;
  }

  /* my portfolio */
  .content-row {
    width: 100%;
    padding: 80px 10px;
  }
  .slide img {
    max-width: 900px;

    padding: 0px 20px;
  }
  .btn-slider{
    width: 20%;
  }
}

@media (max-width: 1050px) {
  .row {
    width: 100%;
  }
  .about-section img {
    max-width: 90%;
  }
  .about-button .btn-github {
    font-size: 1.5vmin;
  }
  .about-button .btn-cv {
    font-size: 1.5vmin;
  }

  /* my portofolio / work */
  .btn-slider{
    width: 55%;
    padding: 5px;
  }
  .slide h2{
    font-size: 3vmin;
    padding: 30px 0px;
  }
  .slide img{
    width: 100%;
    height: 50vh;
    
    
   
  }
  .slide p{
    font-size: 2vmin;
  }
  .content-row{
    width: 100%;
    padding: 50px 20px;
  }
  
}

@media (max-width: 1325px) {
  .btn .btn-login {
    padding: 6px;
    font-size: 12px;
  }
  .btn .btn-signup {
    padding: 6px;
    font-size: 12px;
  }
  .nav-links .nav-list {
    gap: 0;
    font-size: 16px;
  }
  .logo .logo-item {
    font-size: 16px;
  }
  .about-section img {
    max-width: 90%;
  }
  .about-section p {
    font-size: 2vmin;
  }
  .row {
    width: 100%;
  }

  /* portofolio */
  .content-row{
    width: 100%;
    
  }

  .slide img {
  width: 100%;
 

    padding: 0px 25px;
  }
  .title-content{
    width: 100%;
    padding: 15px 25px;
  }
}
@media (max-width: 900px) {
  .skills-section .row-skill {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 824px) {
  .slide h2 {
    font-size: 2vmin;
  }
  .btn-slider {
    width: 20%;
  }
  .slide img {
    width: 100%;
  }
}
@media (max-width: 820px) {
  nav .mobile-menu {
    display: block;
  }

  .nav-links .nav-list {
    position: fixed;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100vh;
    font-size: 25px;
    border-bottom-right-radius: 40%;
    /* border-bottom-left-radius: 30%; */
    background: var(--third);
    right: 0;
    left: 0;
    top: -100%;
  }
  .nav-links .active1 {
    top: 70px;
    transition: 0.9s ease-in-out;
  }
  .btn {
    display: none;
  }

  .list-btn {
    display: block;
    background-color: var(--third);
    padding: 5px;
    color: var(--text-white);
    border: solid 2px var(--secondary);
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s ease-in-out;
  }
  li .list-btn {
    color: var(--text-white);
  }

  /* Home section */
  .home-content {
    position: relative;
  }
  .home-content h1 {
    padding: 0px;
  }
  .home-content h5 {
    padding: 0px;
  }
  .home-content p {
    padding-bottom: 20px;
  }
  .row {
    flex-direction: column;

    width: 100%;
    height: 50%;
  }
  .col {
    width: 100%;
    padding: 20px 30px;
  }
  .about-section img {
    max-width: 300px;
  }
  .about-section p {
    width: 100%;
  }

  /* skill section */
  .skills-section .row-skill {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }
  /* .skills-section p{
  font-size: 3vmin;
}
.skills-section h3{
  font-size: 3vmin;
}
.skills-section .title{
  font-size: 5vmin;
} */

  /* my experince */
  .experience-section .row-exp {
    grid-template-columns: auto;
  }

  /* my portofolio */
  .col-slider .slide {
    flex-direction: column;
  }
  .slide h2 {
    padding: 10px 0px;
    font-size: 3.5vmin;
  }

  .slide {
    width: 100%;
  }
  .slide img {
    width: 100%;
    height: 30vh;
  }
  #next-btn,
  #prev-btn {
    padding: 8px;
  }
  .slide .paragraph {
    width: 100%;
  }
  /* .content-row{
    width: 50%;
    padding: 50px 0px;
  } */

  /* contact page */

  .content-social-1{
    flex-direction: column;
    
  }
  .content-box{
    width: 60%;
  }
  .box{
    width: 100%;
    padding-left: 50px;
  }

}

@media(max-width:823px) {
  .content-row{
    width: 100%;
 

  }
  .slide img{
    width: 100%;
    height: 100%;

  }
  .btn-slider{
    width: 40%;
  
  }
  
}

@media(max-width:450px){
  .content-box{
    width: 70%;
  }
  .btn-slider{
    width: 50%;
  }
  .content-row{
    width: 100%;
    
    
    
  }
  @media(max-width:484px){
    .btn-slider{
      width: 100%;
    }

  }
}
@media(max-width:318px){
  .content-box{
    width: 90%;
  }
  .box{
    width: 100%;
  }

  /* my potfolio */
  .slide img{
    width: 100%;
    padding: 0px 25px;
  }
  .content-row{
    width: 150%;
  right: 40px;
   
    
    
    
  }
  @media(max-width:280px){
    .content-row{
      width: 180%;
    }
    .slide img{
      width: 100%;
    }
    
  }
 
}